.banner {
    background: linear-gradient(45deg, rgba(240, 38, 3, 1) 0%, rgba(204, 34, 12, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(5, 5, 5, 1) 71%, rgba(0, 0, 0, 1) 100%);
    display: flex;
    padding: 20px;
    height: 150px;
    justify-content: space-around;
}

.banner div {
    margin: 5px;
}

@media screen and (min-width: 600px) {
    /* we skip this property in flexbox and grid methods */
    /* more stuff here */
}

.input-group.md-form.form-sm.form-2 input.amber-border {
    border: 1px solid red;
}

.banner img {
    width: 150px;
    height: 100px;
    margin-left: 20px;
}

.especial {
    display: flex;
    margin: 0px;
    align-items: stretch;
}

.fadeIn {
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.caja {
    display: flex;
    height: 60px;
    width: 600px;
}

.imaaa {
    display: flex;
    align-content: space-between 20px;
}

.imaaa div img {
    background-color: black;
    height: 350px;
    width: 300px;
    border: 8px double red;
}

.bot {
    align-content: space-between;
    width: 300px;
}

.navegacion {
    width: 1500px;
    background-color: black;
}

.navegacion ul {
    list-style: none;
}

.menu>li {
    position: relative;
    display: inline-block;
}

.menu>li>a {
    display: block;
    padding: 15px 20px;
    color: gray;
    font-family: sans-serif;
    text-decoration: none;
}

.menu li a :hover {
    color: red;
}

.submenu {
    position: absolute;
    background-color: gray;
    display: none;
}

.submenu li a {
    display: block;
    padding: 15px;
    color: white;
    font-family: sans-serif;
    text-decoration: none;
    text-align: center;
}

.menu li:hover .submenu {
    display: block;
}