.banner {
    background: linear-gradient(45deg, rgba(10, 10, 9, 1) 0%, rgba(8, 8, 8, 1) 42%, rgba(246, 41, 12, 1) 43%, rgba(247, 28, 8, 1) 71%, rgba(247, 0, 0, 1) 83%, rgba(255, 26, 5, 1) 100%);
    display: flex;
    padding: 20px;
    height: 100px;
    justify-content: space-around;
}

.banner div {
    margin: 5px;
}

@media screen and (min-width: 600px) {
    /* we skip this property in flexbox and grid methods */
    /* more stuff here */
}

.input-group.md-form.form-sm.form-2 input.amber-border {
    border: 1px solid red;
}

.banner img {
    width: 90px;
    height: 60px;
    margin-left: 20px;
}

.especial {
    display: flex;
    margin: 0px;
    align-items: stretch;
}

.fadeIn {
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}