.banner {
    display: flex;
    padding: 3px;
    justify-content: center;
}

@media screen and (min-width: 600px) {
    /* we skip this property in flexbox and grid methods */
    /* more stuff here */
}

.banner img {
    width: 90px;
    height: 60px;
    margin-left: 20px;
}

.fadeIn {
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}